{
  "openapi": "3.0.3",
  "info": {
    "title": "Moderation API",
    "description": "API for automated content moderation",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://moderationapi.com/api/v1" }],
  "paths": {
    "/actions": {
      "get": {
        "operationId": "actions-list",
        "summary": "List actions",
        "description": "List actions for the current user.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "queueId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Only return actions available in this queue.",
            "example": "60c9e1c0e4e7e1001c7a0e1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the action."
                      },
                      "key": {
                        "type": "string",
                        "nullable": true,
                        "description": "User defined key of the action."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date the action was created."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the action."
                      },
                      "description": {
                        "type": "string",
                        "nullable": true,
                        "description": "The description of the action."
                      },
                      "queueBehaviour": {
                        "type": "string",
                        "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                        "default": "NO_CHANGE",
                        "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                      },
                      "filterInQueueIds": {
                        "type": "array",
                        "items": { "type": "string" },
                        "default": [],
                        "description": "The IDs of the queues the action is available in."
                      },
                      "position": {
                        "type": "string",
                        "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                        "default": "ALL_QUEUES",
                        "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                      },
                      "possibleValues": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "The value of the action."
                            }
                          },
                          "required": ["value"],
                          "additionalProperties": false
                        },
                        "default": [],
                        "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                      },
                      "valueRequired": {
                        "type": "boolean",
                        "default": false,
                        "description": "Whether the action requires a value to be executed."
                      },
                      "freeText": {
                        "type": "boolean",
                        "default": false,
                        "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                      }
                    },
                    "required": ["id", "createdAt", "name"],
                    "additionalProperties": false
                  }
                },
                "example": [
                  {
                    "id": "60c9e1c0e4e7e1001c7a0e1d",
                    "createdAt": "2023-06-16T14:00:00.000Z",
                    "name": "Suspend author",
                    "description": "Suspend the author of this item.",
                    "queueBehaviour": "NO_CHANGE",
                    "valueRequired": false,
                    "freeText": false,
                    "possibleValues": [
                      { "value": "Spam" },
                      { "value": "Offensive" },
                      { "value": "Other" }
                    ],
                    "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                    "position": "ALL_QUEUES"
                  },
                  {
                    "id": "60c9e1c0e4e7e1001c7a0e1e",
                    "createdAt": "2023-06-16T14:00:00.000Z",
                    "name": "Remove",
                    "description": "Remove the item and remove from this queue.",
                    "queueBehaviour": "NO_CHANGE",
                    "valueRequired": false,
                    "freeText": false,
                    "possibleValues": [],
                    "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                    "position": "ALL_QUEUES"
                  },
                  {
                    "id": "60c9e1c0e4e7e1001c7a0e1f",
                    "createdAt": "2023-06-16T14:00:00.000Z",
                    "name": "Escalate",
                    "description": "Escalate the item and remove from this queue.",
                    "queueBehaviour": "NO_CHANGE",
                    "valueRequired": false,
                    "freeText": false,
                    "possibleValues": [],
                    "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                    "position": "ALL_QUEUES"
                  }
                ]
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      },
      "post": {
        "operationId": "actions-create",
        "summary": "Create an action",
        "description": "Create an action.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "nullable": true,
                    "description": "User defined key of the action."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the action."
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "description": "The description of the action."
                  },
                  "queueBehaviour": {
                    "type": "string",
                    "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                    "default": "NO_CHANGE",
                    "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                  },
                  "filterInQueueIds": {
                    "type": "array",
                    "items": { "type": "string" },
                    "default": [],
                    "description": "The IDs of the queues the action is available in."
                  },
                  "position": {
                    "type": "string",
                    "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                    "default": "ALL_QUEUES",
                    "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                  },
                  "possibleValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value of the action."
                        }
                      },
                      "required": ["value"],
                      "additionalProperties": false
                    },
                    "default": [],
                    "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                  },
                  "valueRequired": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the action requires a value to be executed."
                  },
                  "freeText": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                  },
                  "webhooks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The webhook's name, used to identify it in the dashboard"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "description": "The webhook's description"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The webhook's URL. We'll call this URL when the event occurs."
                        },
                        "id": {
                          "type": "string",
                          "description": "ID of an existing webhook or undefined if this is a new webhook."
                        }
                      },
                      "required": ["name", "url"],
                      "additionalProperties": false
                    },
                    "default": [],
                    "description": "The action's webhooks."
                  }
                },
                "required": ["name"],
                "additionalProperties": false
              },
              "example": {
                "name": "Suspend author",
                "description": "Suspend the author of this item.",
                "queueBehaviour": "NO_CHANGE",
                "valueRequired": false,
                "freeText": false,
                "possibleValues": [
                  { "value": "Spam" },
                  { "value": "Offensive" },
                  { "value": "Other" }
                ],
                "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                "position": "ALL_QUEUES",
                "webhooks": [
                  {
                    "name": "Discord webhook",
                    "url": "https://discord.com/webhook"
                  }
                ]
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the action."
                    },
                    "key": {
                      "type": "string",
                      "nullable": true,
                      "description": "User defined key of the action."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the action was created."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the action."
                    },
                    "description": {
                      "type": "string",
                      "nullable": true,
                      "description": "The description of the action."
                    },
                    "queueBehaviour": {
                      "type": "string",
                      "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                      "default": "NO_CHANGE",
                      "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                    },
                    "filterInQueueIds": {
                      "type": "array",
                      "items": { "type": "string" },
                      "default": [],
                      "description": "The IDs of the queues the action is available in."
                    },
                    "position": {
                      "type": "string",
                      "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                      "default": "ALL_QUEUES",
                      "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                    },
                    "possibleValues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value of the action."
                          }
                        },
                        "required": ["value"],
                        "additionalProperties": false
                      },
                      "default": [],
                      "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                    },
                    "valueRequired": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action requires a value to be executed."
                    },
                    "freeText": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                    }
                  },
                  "required": ["id", "createdAt", "name"],
                  "additionalProperties": false
                },
                "example": {
                  "id": "60c9e1c0e4e7e1001c7a0e1d",
                  "createdAt": "2023-06-16T14:00:00.000Z",
                  "name": "Suspend author",
                  "description": "Suspend the author of this item.",
                  "queueBehaviour": "NO_CHANGE",
                  "valueRequired": false,
                  "freeText": false,
                  "possibleValues": [
                    { "value": "Spam" },
                    { "value": "Offensive" },
                    { "value": "Other" }
                  ],
                  "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                  "position": "ALL_QUEUES"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/actions/{id}": {
      "get": {
        "operationId": "actions-get",
        "summary": "Get an action",
        "description": "Get an action by ID.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the action to get.",
            "example": "60c9e1c0e4e7e1001c7a0e1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the action."
                    },
                    "key": {
                      "type": "string",
                      "nullable": true,
                      "description": "User defined key of the action."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the action was created."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the action."
                    },
                    "description": {
                      "type": "string",
                      "nullable": true,
                      "description": "The description of the action."
                    },
                    "queueBehaviour": {
                      "type": "string",
                      "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                      "default": "NO_CHANGE",
                      "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                    },
                    "filterInQueueIds": {
                      "type": "array",
                      "items": { "type": "string" },
                      "default": [],
                      "description": "The IDs of the queues the action is available in."
                    },
                    "position": {
                      "type": "string",
                      "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                      "default": "ALL_QUEUES",
                      "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                    },
                    "possibleValues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value of the action."
                          }
                        },
                        "required": ["value"],
                        "additionalProperties": false
                      },
                      "default": [],
                      "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                    },
                    "valueRequired": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action requires a value to be executed."
                    },
                    "freeText": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                    },
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The webhook's name, used to identify it in the dashboard"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true,
                            "description": "The webhook's description"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "The webhook's URL. We'll call this URL when the event occurs."
                          },
                          "moderationActionId": {
                            "type": "string",
                            "nullable": true,
                            "description": "The ID of the moderation action to trigger the webhook on. Only used for moderation action webhooks."
                          },
                          "id": {
                            "type": "string",
                            "description": "The ID of the webhook."
                          }
                        },
                        "required": ["name", "url", "id"],
                        "additionalProperties": false
                      },
                      "default": [],
                      "description": "The action's webhooks."
                    }
                  },
                  "required": ["id", "createdAt", "name"],
                  "additionalProperties": false
                },
                "example": {
                  "id": "60c9e1c0e4e7e1001c7a0e1d",
                  "createdAt": "2023-06-16T14:00:00.000Z",
                  "name": "Suspend author",
                  "description": "Suspend the author of this item.",
                  "queueBehaviour": "NO_CHANGE",
                  "valueRequired": false,
                  "freeText": false,
                  "possibleValues": [
                    { "value": "Spam" },
                    { "value": "Offensive" },
                    { "value": "Other" }
                  ],
                  "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                  "position": "ALL_QUEUES",
                  "webhooks": [
                    {
                      "id": "60c9e1c0e4e7e1001c7a0e1d",
                      "name": "Discord webhook",
                      "url": "https://discord.com/webhook"
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      },
      "put": {
        "operationId": "actions-update",
        "summary": "Update an action",
        "description": "Update an action.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "nullable": true,
                    "description": "User defined key of the action."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the action."
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "description": "The description of the action."
                  },
                  "queueBehaviour": {
                    "type": "string",
                    "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                    "default": "NO_CHANGE",
                    "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                  },
                  "filterInQueueIds": {
                    "type": "array",
                    "items": { "type": "string" },
                    "default": [],
                    "description": "The IDs of the queues the action is available in."
                  },
                  "position": {
                    "type": "string",
                    "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                    "default": "ALL_QUEUES",
                    "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                  },
                  "possibleValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value of the action."
                        }
                      },
                      "required": ["value"],
                      "additionalProperties": false
                    },
                    "default": [],
                    "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                  },
                  "valueRequired": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the action requires a value to be executed."
                  },
                  "freeText": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                  },
                  "webhooks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The webhook's name, used to identify it in the dashboard"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true,
                          "description": "The webhook's description"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The webhook's URL. We'll call this URL when the event occurs."
                        },
                        "id": {
                          "type": "string",
                          "description": "ID of an existing webhook or undefined if this is a new webhook."
                        }
                      },
                      "required": ["name", "url"],
                      "additionalProperties": false
                    },
                    "default": [],
                    "description": "The action's webhooks."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "name": "Suspend author",
                "description": "Suspend the author of this item.",
                "queueBehaviour": "NO_CHANGE",
                "valueRequired": false,
                "freeText": false,
                "possibleValues": [
                  { "value": "Spam" },
                  { "value": "Offensive" },
                  { "value": "Other" }
                ],
                "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                "position": "ALL_QUEUES",
                "webhooks": [
                  {
                    "name": "Discord webhook",
                    "url": "https://discord.com/webhook"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the action to update.",
            "example": "60c9e1c0e4e7e1001c7a0e1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the action."
                    },
                    "key": {
                      "type": "string",
                      "nullable": true,
                      "description": "User defined key of the action."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date the action was created."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the action."
                    },
                    "description": {
                      "type": "string",
                      "nullable": true,
                      "description": "The description of the action."
                    },
                    "queueBehaviour": {
                      "type": "string",
                      "enum": ["REMOVE", "ADD", "NO_CHANGE"],
                      "default": "NO_CHANGE",
                      "description": "Whether the action resolves and removes the item, unresolves and re-add it to the queue, or does not change the resolve status."
                    },
                    "filterInQueueIds": {
                      "type": "array",
                      "items": { "type": "string" },
                      "default": [],
                      "description": "The IDs of the queues the action is available in."
                    },
                    "position": {
                      "type": "string",
                      "enum": ["ALL_QUEUES", "SOME_QUEUES", "HIDDEN"],
                      "default": "ALL_QUEUES",
                      "description": "Show the action in all queues, selected queues or no queues (to use via API only)."
                    },
                    "possibleValues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value of the action."
                          }
                        },
                        "required": ["value"],
                        "additionalProperties": false
                      },
                      "default": [],
                      "description": "The possible values of the action. The user will be prompted to select one of these values when executing the action."
                    },
                    "valueRequired": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action requires a value to be executed."
                    },
                    "freeText": {
                      "type": "boolean",
                      "default": false,
                      "description": "Whether the action allows any text to be entered as a value or if it must be one of the possible values."
                    }
                  },
                  "required": ["id", "createdAt", "name"],
                  "additionalProperties": false
                },
                "example": {
                  "id": "60c9e1c0e4e7e1001c7a0e1d",
                  "createdAt": "2023-06-16T14:00:00.000Z",
                  "name": "Suspend author",
                  "description": "Suspend the author of this item.",
                  "queueBehaviour": "NO_CHANGE",
                  "valueRequired": false,
                  "freeText": false,
                  "possibleValues": [
                    { "value": "Spam" },
                    { "value": "Offensive" },
                    { "value": "Other" }
                  ],
                  "filterInQueueIds": ["60c9e1c0e4e7e1001c7a0e1d"],
                  "position": "ALL_QUEUES"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "actions-delete",
        "summary": "Delete an action",
        "description": "Delete an action and all of its webhooks.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the action to delete.",
            "example": "60c9e1c0e4e7e1001c7a0e1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "description": "Whether the action was deleted."
                    },
                    "id": {
                      "type": "string",
                      "description": "The ID of the action."
                    }
                  },
                  "required": ["deleted", "id"],
                  "additionalProperties": false
                },
                "example": { "deleted": true, "id": "60c9e1c0e4e7e1001c7a0e1d" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/actions/execute": {
      "post": {
        "operationId": "actions-execute",
        "summary": "Execute an action",
        "description": "Execute an action on a set of content items in a queue.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentIds": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "The IDs of the content items to perform the action on."
                  },
                  "actionKey": {
                    "type": "string",
                    "description": "The ID or key of the action to execute."
                  },
                  "queueId": {
                    "type": "string",
                    "description": "The ID of the queue the action was performed from if any."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value of the action. Useful to set a reason for the action etc."
                  }
                },
                "required": ["contentIds", "actionKey"],
                "additionalProperties": false
              },
              "example": {
                "queueId": "60c9e1c0e4e7e1001c7a0e1d",
                "contentIds": [
                  "60c9e1c0e4e7e1001c7a0e1e",
                  "60c9e1c0e4e7e1001c7a0e1f"
                ],
                "value": "Spam"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Action executed successfully."
                    },
                    "actionId": {
                      "type": "string",
                      "description": "The ID of the action."
                    },
                    "ids": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "The IDs of the content items."
                    }
                  },
                  "required": ["success", "actionId", "ids"],
                  "additionalProperties": false
                },
                "example": { "success": true }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/actions/{actionId}/execute": {
      "post": {
        "operationId": "actions-executeDeprecated",
        "summary": "Execute an action",
        "description": "Execute an action on a set of content items in a queue.",
        "tags": ["Queue actions"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentIds": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "The IDs of the content items to perform the action on."
                  },
                  "queueId": {
                    "type": "string",
                    "description": "The ID of the queue the action was performed from if any."
                  },
                  "value": {
                    "type": "string",
                    "description": "The value of the action. Useful to set a reason for the action etc."
                  }
                },
                "required": ["contentIds"],
                "additionalProperties": false
              },
              "example": {
                "queueId": "60c9e1c0e4e7e1001c7a0e1d",
                "contentIds": [
                  "60c9e1c0e4e7e1001c7a0e1e",
                  "60c9e1c0e4e7e1001c7a0e1f"
                ],
                "value": "Spam"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID or key of the action to execute."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Action executed successfully."
                    },
                    "actionId": {
                      "type": "string",
                      "description": "The ID of the action."
                    },
                    "ids": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "The IDs of the content items."
                    }
                  },
                  "required": ["success", "actionId", "ids"],
                  "additionalProperties": false
                },
                "example": { "success": true }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        },
        "deprecated": true
      }
    },
    "/moderate/text": {
      "post": {
        "operationId": "moderation-text",
        "summary": "Analyze text.",
        "description": "Analyze text with your Moderation API project.",
        "tags": ["Moderate"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The unique ID of the content in your database."
                  },
                  "value": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000,
                    "description": "The text you'd like to analyze. We recommend to submit plain text or HTML"
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue"
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content."
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Any metadata you want to store with the content"
                  }
                },
                "required": ["value"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Success if the request was successful"
                        },
                        "contentId": {
                          "type": "string",
                          "description": "The ID of the content. Only returned if the content was stored."
                        },
                        "request": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "number",
                              "description": "The timestamp of the request"
                            },
                            "quota_usage": {
                              "type": "number",
                              "description": "The quota usage of the request"
                            }
                          },
                          "required": ["timestamp", "quota_usage"],
                          "additionalProperties": false,
                          "description": "Information about the request"
                        },
                        "flagged": {
                          "type": "boolean",
                          "description": "Whether the content was flagged by any models"
                        },
                        "content_moderated": {
                          "type": "boolean",
                          "description": "Whether the content was moderated or not. Same as `content` !== `original`"
                        },
                        "unicode_spoofing": {
                          "type": "boolean",
                          "description": "Whether the content is using look-alike characters. Often used by spammers."
                        },
                        "data_found": {
                          "type": "boolean",
                          "description": "Whether any entity matchers found data for the content"
                        },
                        "original": {
                          "type": "string",
                          "description": "The original content"
                        },
                        "content": {
                          "type": "string",
                          "description": "The content after moderation. With all mask replacements applied and look-alike characters replaced with the original characters."
                        },
                        "nsfw": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "The label of the model"
                            },
                            "score": {
                              "type": "number",
                              "description": "The confidence of the model"
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the model"
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate"
                            },
                            "label_scores": {
                              "type": "object",
                              "properties": {
                                "SENSITIVE": {
                                  "type": "number",
                                  "description": "Mentions religion, politics, race, etc., but is neutral or positive."
                                },
                                "UNSAFE": {
                                  "type": "number",
                                  "description": "Sexual, hateful, profane, and inappropriate content."
                                },
                                "NEUTRAL": { "type": "number" }
                              },
                              "additionalProperties": false,
                              "description": "The confidence of all labels"
                            }
                          },
                          "additionalProperties": false,
                          "description": "The NSFW model output if enabled in your project. Read more at https://docs.moderationapi.com/models/nsfw"
                        },
                        "toxicity": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "The label of the model"
                            },
                            "score": {
                              "type": "number",
                              "description": "The confidence of the model"
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the model"
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate"
                            },
                            "label_scores": {
                              "type": "object",
                              "properties": {
                                "TOXICITY": {
                                  "type": "number",
                                  "description": "Rude or disrespectful content."
                                },
                                "PROFANITY": {
                                  "type": "number",
                                  "description": "Swearing, curse words, and other obscene language."
                                },
                                "DISCRIMINATION": {
                                  "type": "number",
                                  "description": "Discrimination of race, religion, gender, etc."
                                },
                                "SEVERE_TOXICITY": {
                                  "type": "number",
                                  "description": "Very hateful and aggressive content."
                                },
                                "INSULT": {
                                  "type": "number",
                                  "description": "Negative comments about looks or personality etc."
                                },
                                "THREAT": {
                                  "type": "number",
                                  "description": "Content containing intention to harm or violence."
                                },
                                "NEUTRAL": { "type": "number" }
                              },
                              "additionalProperties": false,
                              "description": "The confidence of all labels"
                            }
                          },
                          "required": ["label_scores"],
                          "additionalProperties": false,
                          "description": "The toxicity model output if enabled in your project. Read more at https://docs.moderationapi.com/models/toxicity"
                        },
                        "quality": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "The label of the model"
                            },
                            "score": {
                              "type": "number",
                              "description": "The confidence of the model"
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the model"
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate"
                            },
                            "label_scores": {
                              "type": "object",
                              "properties": {
                                "UNSUBSTANTIAL": {
                                  "type": "number",
                                  "description": "Trivial or short content."
                                },
                                "INCOHERENT": {
                                  "type": "number",
                                  "description": "Difficult to understand, nonsensical."
                                },
                                "SPAM": {
                                  "type": "number",
                                  "description": "Irrelevant and unsolicited commercial content."
                                },
                                "NEUTRAL": { "type": "number" }
                              },
                              "additionalProperties": false,
                              "description": "The confidence of all labels"
                            }
                          },
                          "additionalProperties": false,
                          "description": "The spam model output if enabled in your project. Read more at https://docs.moderationapi.com/models/spam"
                        },
                        "sentiment": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "The label of the model"
                            },
                            "score": {
                              "type": "number",
                              "description": "The confidence of the model"
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the model"
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate"
                            },
                            "label_scores": {
                              "type": "object",
                              "properties": {
                                "POSITIVE": {
                                  "type": "number",
                                  "description": "Positive sentiment."
                                },
                                "NEGATIVE": {
                                  "type": "number",
                                  "description": "Negative sentiment."
                                },
                                "NEUTRAL": { "type": "number" }
                              },
                              "additionalProperties": false,
                              "description": "The confidence of all labels"
                            }
                          },
                          "additionalProperties": false,
                          "description": "The sentiment model output if enabled in your project. Read more at https://docs.moderationapi.com/models/sentiment"
                        },
                        "propriety": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "The label of the model"
                            },
                            "score": {
                              "type": "number",
                              "description": "The confidence of the model"
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the model"
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate"
                            },
                            "label_scores": {
                              "type": "object",
                              "properties": {
                                "FLIRTATION": {
                                  "type": "number",
                                  "description": "Pickup lines, compliments on appearance, etc."
                                },
                                "SEXUALLY_EXPLICIT": {
                                  "type": "number",
                                  "description": "References to sexual acts, body parts, etc."
                                },
                                "NEUTRAL": { "type": "number" }
                              },
                              "additionalProperties": false,
                              "description": "The confidence of all labels"
                            }
                          },
                          "additionalProperties": false,
                          "description": "The propriety model output if enabled in your project. Read more at https://docs.moderationapi.com/models/propriety"
                        },
                        "email": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The email entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/email"
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The phone entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/phone"
                        },
                        "url": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The url entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/url"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The address entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/address"
                        },
                        "name": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The name entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/name"
                        },
                        "username": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The username entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/username"
                        },
                        "profanity": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The profanity entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/profanity"
                        },
                        "sensitive": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The sensitive numbers entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/sensitive"
                        },
                        "wordlist": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "string",
                              "enum": ["NORMAL", "SUSPICIOUS", "PARANOID"],
                              "description": "The detection mode."
                            },
                            "found": {
                              "type": "boolean",
                              "description": "Whether a match was found or not."
                            },
                            "matches": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "The matches of the entity matcher."
                            },
                            "components": {
                              "description": "The components of the matcher."
                            },
                            "error": {
                              "type": "string",
                              "description": "Indicates an error with the matcher."
                            },
                            "warning": {
                              "type": "string",
                              "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The wordlist entity matcher output if enabled in your project. Read more at https://docs.moderationapi.com/models/word"
                        },
                        "wordlists": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": ["BLOCKLIST", "ALLOWLIST", "PASS"],
                                "description": "The flagging mode."
                              },
                              "found": {
                                "type": "boolean",
                                "description": "Whether a match was found or not."
                              },
                              "matches": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "The matches of the entity matcher."
                              },
                              "components": {
                                "description": "The components of the matcher."
                              },
                              "error": {
                                "type": "string",
                                "description": "Indicates an error with the matcher."
                              },
                              "warning": {
                                "type": "string",
                                "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                              },
                              "flagged": {
                                "type": "boolean",
                                "description": "Whether the wordlists flagged the content."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the wordlist"
                              },
                              "id": {
                                "type": "string",
                                "description": "The ID of the wordlist"
                              },
                              "score": {
                                "type": "number",
                                "description": "The score of the wordlist"
                              }
                            },
                            "required": [
                              "mode",
                              "flagged",
                              "name",
                              "id",
                              "score"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The wordlist entity matcher outputs if enabled in your project. Read more at https://docs.moderationapi.com/models/word"
                        }
                      },
                      "required": [
                        "status",
                        "request",
                        "flagged",
                        "content_moderated",
                        "unicode_spoofing",
                        "data_found",
                        "original",
                        "content"
                      ]
                    },
                    { "type": "object", "additionalProperties": {} }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/moderate/object": {
      "post": {
        "operationId": "moderation-object",
        "summary": "Analyze object.",
        "description": "Analyze an object with multiple fields including text, images, video, audio. Use to moderate a post, a profile, a form submission or anything that have multiple fields.",
        "tags": ["Moderate"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The unique ID of the content in your database."
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue"
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content."
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Any metadata you want to store with the content"
                  },
                  "value": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["profile", "event", "product", "object"],
                        "description": "The type of the object you want to analyze."
                      },
                      "data": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": ["text", "image", "video", "audio"],
                              "description": "The type of content (e.g., \"text\", \"image\", \"video\")"
                            },
                            "modelIds": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "Optional array of specific model IDs to use"
                            },
                            "value": {
                              "type": "string",
                              "description": "The content to analyze"
                            }
                          },
                          "required": ["type", "value"],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": ["type", "data"],
                    "additionalProperties": false,
                    "description": "The object you want to analyze."
                  }
                },
                "required": ["value"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Success if the request was successful"
                        },
                        "contentId": {
                          "type": "string",
                          "description": "The ID of the content. Only returned if the content was stored."
                        },
                        "request": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "number",
                              "description": "The timestamp of the request"
                            },
                            "quota_usage": {
                              "type": "number",
                              "description": "The quota usage of the request"
                            }
                          },
                          "required": ["timestamp", "quota_usage"],
                          "additionalProperties": false,
                          "description": "Information about the request"
                        },
                        "flagged": {
                          "type": "boolean",
                          "description": "Whether the content was flagged by any models"
                        },
                        "unicode_spoofing": {
                          "type": "boolean",
                          "description": "Whether the content is using look-alike characters. Often used by spammers."
                        },
                        "data_found": {
                          "type": "boolean",
                          "description": "Whether any entity matchers found data for the content"
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "The label of the model"
                              },
                              "model": {
                                "type": "string",
                                "description": "The model that found the label"
                              },
                              "score": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 1,
                                "description": "The confidence of the model"
                              }
                            },
                            "required": ["label", "model", "score"],
                            "additionalProperties": false
                          },
                          "description": "The scores of each label"
                        },
                        "entities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "model": {
                                "type": "string",
                                "description": "The model that found the entity"
                              },
                              "matches": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "The matches of the entity"
                              },
                              "score": {
                                "type": "number",
                                "description": "The similarity score of the matches"
                              }
                            },
                            "required": ["model", "matches"],
                            "additionalProperties": false
                          },
                          "description": "The entities found in the content"
                        },
                        "wordlists": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": ["BLOCKLIST", "ALLOWLIST", "PASS"],
                                "description": "The flagging mode."
                              },
                              "found": {
                                "type": "boolean",
                                "description": "Whether a match was found or not."
                              },
                              "matches": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "The matches of the entity matcher."
                              },
                              "components": {
                                "description": "The components of the matcher."
                              },
                              "error": {
                                "type": "string",
                                "description": "Indicates an error with the matcher."
                              },
                              "warning": {
                                "type": "string",
                                "description": "Indicates a warning from the model, e.g. if the text is too short or long and the model might not be accurate."
                              },
                              "flagged": {
                                "type": "boolean",
                                "description": "Whether the wordlists flagged the content."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the wordlist"
                              },
                              "id": {
                                "type": "string",
                                "description": "The ID of the wordlist"
                              },
                              "score": {
                                "type": "number",
                                "description": "The score of the wordlist"
                              }
                            },
                            "required": [
                              "mode",
                              "flagged",
                              "name",
                              "id",
                              "score"
                            ],
                            "additionalProperties": false
                          },
                          "description": "The wordlist entity matcher outputs if enabled in your project. Read more at https://docs.moderationapi.com/models/word"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "The key of the field"
                              },
                              "flagged": {
                                "type": "boolean",
                                "description": "Whether the field was flagged"
                              },
                              "flagged_by": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "The models that flagged the field"
                              }
                            },
                            "required": ["key", "flagged", "flagged_by"],
                            "additionalProperties": false
                          },
                          "description": "The fields in the object and their flags"
                        }
                      },
                      "required": [
                        "status",
                        "request",
                        "flagged",
                        "unicode_spoofing",
                        "data_found",
                        "labels",
                        "entities",
                        "fields"
                      ]
                    },
                    { "type": "object", "additionalProperties": {} }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/moderate/image": {
      "post": {
        "operationId": "moderation-image",
        "summary": "Analyze image",
        "description": "Analyze image with your Moderation API project",
        "tags": ["Moderate"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The unique ID of the content in your database."
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue"
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content."
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Any metadata you want to store with the content"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the image you want to analyze."
                  }
                },
                "required": ["url"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Success if the request was successful"
                    },
                    "contentId": {
                      "type": "string",
                      "description": "The ID of the content. Only returned if the content was stored."
                    },
                    "request": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "number",
                          "description": "The timestamp of the request"
                        },
                        "quota_usage": {
                          "type": "number",
                          "description": "The quota usage of the request"
                        }
                      },
                      "required": ["timestamp", "quota_usage"],
                      "additionalProperties": false,
                      "description": "Information about the request"
                    },
                    "flagged": {
                      "type": "boolean",
                      "description": "Whether the content was flagged by any models"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "enum": [
                              "nudity",
                              "suggestive",
                              "gore",
                              "hate",
                              "violence",
                              "weapon",
                              "smoking",
                              "drugs",
                              "alcohol",
                              "text"
                            ],
                            "description": "The label of the model"
                          },
                          "score": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1,
                            "description": "The confidence of the model"
                          }
                        },
                        "required": ["label", "score"],
                        "additionalProperties": false
                      },
                      "description": "The scores of each label"
                    },
                    "texts": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "The texts found in the image, if the image text model is enabled"
                    }
                  },
                  "required": ["status", "request", "flagged", "labels"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/moderate/video": {
      "post": {
        "operationId": "moderation-video",
        "summary": "Analyze video",
        "description": "Analyze video with your Moderation API project",
        "tags": ["Moderate"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The unique ID of the content in your database."
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue"
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content."
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Any metadata you want to store with the content"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the video you want to analyze."
                  }
                },
                "required": ["url"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Success if the request was successful"
                    },
                    "contentId": {
                      "type": "string",
                      "description": "The ID of the content. Only returned if the content was stored."
                    },
                    "request": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "number",
                          "description": "The timestamp of the request"
                        },
                        "quota_usage": {
                          "type": "number",
                          "description": "The quota usage of the request"
                        }
                      },
                      "required": ["timestamp", "quota_usage"],
                      "additionalProperties": false,
                      "description": "Information about the request"
                    },
                    "flagged": {
                      "type": "boolean",
                      "description": "Whether the content was flagged by any models"
                    }
                  },
                  "required": ["status", "request", "flagged"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/moderate/audio": {
      "post": {
        "operationId": "moderation-audio",
        "summary": "Analyze audio",
        "description": "Analyze audio with your Moderation API project",
        "tags": ["Moderate"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The unique ID of the content in your database."
                  },
                  "doNotStore": {
                    "type": "boolean",
                    "description": "Do not store the content. The content won't enter the review queue"
                  },
                  "authorId": {
                    "type": "string",
                    "description": "The author of the content."
                  },
                  "contextId": {
                    "type": "string",
                    "description": "For example the ID of a chat room or a post"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Any metadata you want to store with the content"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the audio you want to analyze."
                  }
                },
[...]
