openapi: 3.1.0
info:
  title: Moderation API
  description: API for automated content moderation
  version: 1.1.0
servers:
  - url: https://api.moderationapi.com/v1
tags:
  - name: Actions
  - name: Queues
  - name: Webhooks
  - name: Wordlist
  - name: UserReports
externalDocs:
  url: https://docs.moderationapi.com
paths:
  /authors:
    get:
      operationId: author-openListAuthors
      summary: List authors
      description: Get a paginated list of authors with their activity metrics and reputation
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: query
          name: pageSize
          schema:
            description: Number of authors per page
            default: 20
            type: number
        - in: query
          name: pageNumber
          schema:
            description: Page number to fetch
            default: 1
            type: number
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - trustLevel
              - violationCount
              - reportCount
              - memberSince
              - lastActive
              - contentCount
              - flaggedContentRatio
              - averageSentiment
        - in: query
          name: sortDirection
          schema:
            description: Sort direction
            default: desc
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: memberSinceDate
          schema:
            type: string
        - in: query
          name: lastActiveDate
          schema:
            type: string
        - in: query
          name: contentTypes
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  authors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Author ID in Moderation API
                          type: string
                        external_id:
                          description: The author's ID from your system
                          anyOf:
                            - type: string
                            - type: 'null'
                        profile_picture:
                          description: URL of the author's profile picture
                          anyOf:
                            - type: string
                              format: uri
                            - type: 'null'
                        external_link:
                          description: URL of the author's external profile
                          anyOf:
                            - type: string
                              format: uri
                            - type: 'null'
                        name:
                          description: Author name or identifier
                          anyOf:
                            - type: string
                            - type: 'null'
                        email:
                          description: Author email address
                          anyOf:
                            - type: string
                              format: email
                              pattern: >-
                                ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                            - type: 'null'
                        first_seen:
                          description: Timestamp when author first appeared
                          type: number
                        last_seen:
                          description: Timestamp of last activity
                          type: number
                        last_incident:
                          description: Timestamp of last incident
                          anyOf:
                            - type: number
                            - type: 'null'
                        status:
                          description: Current author status
                          type: string
                          enum:
                            - enabled
                            - suspended
                            - blocked
                        trust_level:
                          type: object
                          properties:
                            level:
                              description: Author trust level (-1, 0, 1, 2, 3, or 4)
                              type: number
                            manual:
                              description: True if the trust level was set manually by a moderator
                              type: boolean
                          required:
                            - level
                            - manual
                          additionalProperties: false
                        block:
                          description: Block or suspension details, if applicable. Null if the author is enabled.
                          anyOf:
                            - type: object
                              properties:
                                until:
                                  description: The timestamp until which they are blocked if the author is suspended.
                                  anyOf:
                                    - type: number
                                    - type: 'null'
                                reason:
                                  description: The moderators reason why the author was blocked or suspended.
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                              additionalProperties: false
                            - type: 'null'
                        risk_evaluation:
                          description: Risk assessment details, if available.
                          anyOf:
                            - type: object
                              properties:
                                risk_level:
                                  description: Calculated risk level based on more than 10 behavioral signals.
                                  anyOf:
                                    - type: number
                                      minimum: 0
                                      maximum: 100
                                    - type: 'null'
                              additionalProperties: false
                            - type: 'null'
                        metrics:
                          type: object
                          properties:
                            total_content:
                              description: Total pieces of content
                              type: number
                            flagged_content:
                              description: Number of flagged content pieces
                              type: number
                            average_sentiment:
                              description: >-
                                Average sentiment score of content (-1 to 1). Requires a sentiment model in
                                your project.
                              anyOf:
                                - type: number
                                - type: 'null'
                          required:
                            - total_content
                            - flagged_content
                          additionalProperties: false
                        metadata:
                          description: >-
                            Additional metadata provided by your system. We recommend including any relevant
                            information that may assist in the moderation process.
                          type: object
                          properties:
                            email_verified:
                              description: Whether the author's email is verified
                              anyOf:
                                - type: boolean
                                - type: 'null'
                            phone_verified:
                              description: Whether the author's phone number is verified
                              anyOf:
                                - type: boolean
                                - type: 'null'
                            identity_verified:
                              description: Whether the author's identity is verified
                              anyOf:
                                - type: boolean
                                - type: 'null'
                            is_paying_customer:
                              description: Whether the author is a paying customer
                              anyOf:
                                - type: boolean
                                - type: 'null'
                          additionalProperties: {}
                      required:
                        - id
                        - first_seen
                        - last_seen
                        - status
                        - trust_level
                        - block
                        - risk_evaluation
                        - metrics
                        - metadata
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      total:
                        type: number
                      pageSize:
                        type: number
                      pageNumber:
                        type: number
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                    required:
                      - total
                      - pageSize
                      - pageNumber
                      - hasNextPage
                      - hasPreviousPage
                    additionalProperties: false
                required:
                  - authors
                  - pagination
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const authors = await client.authors.list();

            console.log(authors.authors);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            authors = client.authors.list()
            print(authors.authors)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            authors = moderation_api.authors.list

            puts(authors)
    post:
      operationId: author-openCreate
      summary: Create a new author
      description: >-
        Create a new author. Typically not needed as authors are created automatically when content is
        moderated.
      tags:
        - author
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_picture:
                  description: URL of the author's profile picture
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                external_link:
                  description: URL of the author's external profile
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                name:
                  description: Author name or identifier
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  description: Author email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: >-
                        ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: 'null'
                metadata:
                  description: >-
                    Additional metadata provided by your system. We recommend including any relevant
                    information that may assist in the moderation process.
                  type: object
                  properties:
                    email_verified:
                      description: Whether the author's email is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    phone_verified:
                      description: Whether the author's phone number is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    identity_verified:
                      description: Whether the author's identity is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    is_paying_customer:
                      description: Whether the author is a paying customer
                      anyOf:
                        - type: boolean
                        - type: 'null'
                  additionalProperties: {}
                first_seen:
                  description: Timestamp when author first appeared
                  type: number
                last_seen:
                  description: Timestamp of last activity
                  type: number
                manual_trust_level:
                  anyOf:
                    - type: number
                      minimum: -1
                      maximum: 4
                    - type: 'null'
                external_id:
                  description: External ID of the user, typically the ID of the author in your database.
                  type: string
              required:
                - external_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Author ID in Moderation API
                    type: string
                  external_id:
                    description: The author's ID from your system
                    anyOf:
                      - type: string
                      - type: 'null'
                  profile_picture:
                    description: URL of the author's profile picture
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  external_link:
                    description: URL of the author's external profile
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  name:
                    description: Author name or identifier
                    anyOf:
                      - type: string
                      - type: 'null'
                  email:
                    description: Author email address
                    anyOf:
                      - type: string
                        format: email
                        pattern: >-
                          ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      - type: 'null'
                  first_seen:
                    description: Timestamp when author first appeared
                    type: number
                  last_seen:
                    description: Timestamp of last activity
                    type: number
                  last_incident:
                    description: Timestamp of last incident
                    anyOf:
                      - type: number
                      - type: 'null'
                  status:
                    description: Current author status
                    type: string
                    enum:
                      - enabled
                      - suspended
                      - blocked
                  trust_level:
                    type: object
                    properties:
                      level:
                        description: Author trust level (-1, 0, 1, 2, 3, or 4)
                        type: number
                      manual:
                        description: True if the trust level was set manually by a moderator
                        type: boolean
                    required:
                      - level
                      - manual
                    additionalProperties: false
                  block:
                    description: Block or suspension details, if applicable. Null if the author is enabled.
                    anyOf:
                      - type: object
                        properties:
                          until:
                            description: The timestamp until which they are blocked if the author is suspended.
                            anyOf:
                              - type: number
                              - type: 'null'
                          reason:
                            description: The moderators reason why the author was blocked or suspended.
                            anyOf:
                              - type: string
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  risk_evaluation:
                    description: Risk assessment details, if available.
                    anyOf:
                      - type: object
                        properties:
                          risk_level:
                            description: Calculated risk level based on more than 10 behavioral signals.
                            anyOf:
                              - type: number
                                minimum: 0
                                maximum: 100
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  metrics:
                    type: object
                    properties:
                      total_content:
                        description: Total pieces of content
                        type: number
                      flagged_content:
                        description: Number of flagged content pieces
                        type: number
                      average_sentiment:
                        description: >-
                          Average sentiment score of content (-1 to 1). Requires a sentiment model in your
                          project.
                        anyOf:
                          - type: number
                          - type: 'null'
                    required:
                      - total_content
                      - flagged_content
                    additionalProperties: false
                  metadata:
                    description: >-
                      Additional metadata provided by your system. We recommend including any relevant
                      information that may assist in the moderation process.
                    type: object
                    properties:
                      email_verified:
                        description: Whether the author's email is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      phone_verified:
                        description: Whether the author's phone number is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      identity_verified:
                        description: Whether the author's identity is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      is_paying_customer:
                        description: Whether the author is a paying customer
                        anyOf:
                          - type: boolean
                          - type: 'null'
                    additionalProperties: {}
                required:
                  - id
                  - first_seen
                  - last_seen
                  - status
                  - trust_level
                  - block
                  - risk_evaluation
                  - metrics
                  - metadata
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.create({ external_id: 'external_id' });

            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.create(
                external_id="external_id",
            )
            print(author.id)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            author = moderation_api.authors.create(external_id: "external_id")

            puts(author)
  /authors/{id}:
    get:
      operationId: author-openGetAuthorDetails
      summary: Get author details
      description: Get detailed information about a specific author including historical data and analysis
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: Either external ID or the ID assigned by moderation API.
            type: string
          required: true
          description: Either external ID or the ID assigned by moderation API.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Author ID in Moderation API
                    type: string
                  external_id:
                    description: The author's ID from your system
                    anyOf:
                      - type: string
                      - type: 'null'
                  profile_picture:
                    description: URL of the author's profile picture
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  external_link:
                    description: URL of the author's external profile
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  name:
                    description: Author name or identifier
                    anyOf:
                      - type: string
                      - type: 'null'
                  email:
                    description: Author email address
                    anyOf:
                      - type: string
                        format: email
                        pattern: >-
                          ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      - type: 'null'
                  first_seen:
                    description: Timestamp when author first appeared
                    type: number
                  last_seen:
                    description: Timestamp of last activity
                    type: number
                  last_incident:
                    description: Timestamp of last incident
                    anyOf:
                      - type: number
                      - type: 'null'
                  status:
                    description: Current author status
                    type: string
                    enum:
                      - enabled
                      - suspended
                      - blocked
                  trust_level:
                    type: object
                    properties:
                      level:
                        description: Author trust level (-1, 0, 1, 2, 3, or 4)
                        type: number
                      manual:
                        description: True if the trust level was set manually by a moderator
                        type: boolean
                    required:
                      - level
                      - manual
                    additionalProperties: false
                  block:
                    description: Block or suspension details, if applicable. Null if the author is enabled.
                    anyOf:
                      - type: object
                        properties:
                          until:
                            description: The timestamp until which they are blocked if the author is suspended.
                            anyOf:
                              - type: number
                              - type: 'null'
                          reason:
                            description: The moderators reason why the author was blocked or suspended.
                            anyOf:
                              - type: string
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  risk_evaluation:
                    description: Risk assessment details, if available.
                    anyOf:
                      - type: object
                        properties:
                          risk_level:
                            description: Calculated risk level based on more than 10 behavioral signals.
                            anyOf:
                              - type: number
                                minimum: 0
                                maximum: 100
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  metrics:
                    type: object
                    properties:
                      total_content:
                        description: Total pieces of content
                        type: number
                      flagged_content:
                        description: Number of flagged content pieces
                        type: number
                      average_sentiment:
                        description: >-
                          Average sentiment score of content (-1 to 1). Requires a sentiment model in your
                          project.
                        anyOf:
                          - type: number
                          - type: 'null'
                    required:
                      - total_content
                      - flagged_content
                    additionalProperties: false
                  metadata:
                    description: >-
                      Additional metadata provided by your system. We recommend including any relevant
                      information that may assist in the moderation process.
                    type: object
                    properties:
                      email_verified:
                        description: Whether the author's email is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      phone_verified:
                        description: Whether the author's phone number is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      identity_verified:
                        description: Whether the author's identity is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      is_paying_customer:
                        description: Whether the author is a paying customer
                        anyOf:
                          - type: boolean
                          - type: 'null'
                    additionalProperties: {}
                required:
                  - id
                  - first_seen
                  - last_seen
                  - status
                  - trust_level
                  - block
                  - risk_evaluation
                  - metrics
                  - metadata
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.retrieve('id');

            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.retrieve(
                "id",
            )
            print(author.id)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            author = moderation_api.authors.retrieve("id")

            puts(author)
    put:
      operationId: author-openUpdate
      summary: Update author details
      description: Update the details of a specific author
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: Either external ID or the ID assigned by moderation API.
            type: string
          required: true
          description: Either external ID or the ID assigned by moderation API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_picture:
                  description: URL of the author's profile picture
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                external_link:
                  description: URL of the author's external profile
                  anyOf:
                    - type: string
                      format: uri
                    - type: 'null'
                name:
                  description: Author name or identifier
                  anyOf:
                    - type: string
                    - type: 'null'
                email:
                  description: Author email address
                  anyOf:
                    - type: string
                      format: email
                      pattern: >-
                        ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: 'null'
                metadata:
                  description: >-
                    Additional metadata provided by your system. We recommend including any relevant
                    information that may assist in the moderation process.
                  type: object
                  properties:
                    email_verified:
                      description: Whether the author's email is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    phone_verified:
                      description: Whether the author's phone number is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    identity_verified:
                      description: Whether the author's identity is verified
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    is_paying_customer:
                      description: Whether the author is a paying customer
                      anyOf:
                        - type: boolean
                        - type: 'null'
                  additionalProperties: {}
                first_seen:
                  description: Timestamp when author first appeared
                  type: number
                last_seen:
                  description: Timestamp of last activity
                  type: number
                manual_trust_level:
                  anyOf:
                    - type: number
                      minimum: -1
                      maximum: 4
                    - type: 'null'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Author ID in Moderation API
                    type: string
                  external_id:
                    description: The author's ID from your system
                    anyOf:
                      - type: string
                      - type: 'null'
                  profile_picture:
                    description: URL of the author's profile picture
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  external_link:
                    description: URL of the author's external profile
                    anyOf:
                      - type: string
                        format: uri
                      - type: 'null'
                  name:
                    description: Author name or identifier
                    anyOf:
                      - type: string
                      - type: 'null'
                  email:
                    description: Author email address
                    anyOf:
                      - type: string
                        format: email
                        pattern: >-
                          ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      - type: 'null'
                  first_seen:
                    description: Timestamp when author first appeared
                    type: number
                  last_seen:
                    description: Timestamp of last activity
                    type: number
                  last_incident:
                    description: Timestamp of last incident
                    anyOf:
                      - type: number
                      - type: 'null'
                  status:
                    description: Current author status
                    type: string
                    enum:
                      - enabled
                      - suspended
                      - blocked
                  trust_level:
                    type: object
                    properties:
                      level:
                        description: Author trust level (-1, 0, 1, 2, 3, or 4)
                        type: number
                      manual:
                        description: True if the trust level was set manually by a moderator
                        type: boolean
                    required:
                      - level
                      - manual
                    additionalProperties: false
                  block:
                    description: Block or suspension details, if applicable. Null if the author is enabled.
                    anyOf:
                      - type: object
                        properties:
                          until:
                            description: The timestamp until which they are blocked if the author is suspended.
                            anyOf:
                              - type: number
                              - type: 'null'
                          reason:
                            description: The moderators reason why the author was blocked or suspended.
                            anyOf:
                              - type: string
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  risk_evaluation:
                    description: Risk assessment details, if available.
                    anyOf:
                      - type: object
                        properties:
                          risk_level:
                            description: Calculated risk level based on more than 10 behavioral signals.
                            anyOf:
                              - type: number
                                minimum: 0
                                maximum: 100
                              - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                  metrics:
                    type: object
                    properties:
                      total_content:
                        description: Total pieces of content
                        type: number
                      flagged_content:
                        description: Number of flagged content pieces
                        type: number
                      average_sentiment:
                        description: >-
                          Average sentiment score of content (-1 to 1). Requires a sentiment model in your
                          project.
                        anyOf:
                          - type: number
                          - type: 'null'
                    required:
                      - total_content
                      - flagged_content
                    additionalProperties: false
                  metadata:
                    description: >-
                      Additional metadata provided by your system. We recommend including any relevant
                      information that may assist in the moderation process.
                    type: object
                    properties:
                      email_verified:
                        description: Whether the author's email is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      phone_verified:
                        description: Whether the author's phone number is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      identity_verified:
                        description: Whether the author's identity is verified
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      is_paying_customer:
                        description: Whether the author is a paying customer
                        anyOf:
                          - type: boolean
                          - type: 'null'
                    additionalProperties: {}
                required:
                  - id
                  - first_seen
                  - last_seen
                  - status
                  - trust_level
                  - block
                  - risk_evaluation
                  - metrics
                  - metadata
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.update('id');

            console.log(author.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.update(
                id="id",
            )
            print(author.id)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            author = moderation_api.authors.update("id")

            puts(author)
    delete:
      operationId: author-delete
      summary: Delete an author
      description: Delete a specific author
      tags:
        - author
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const author = await client.authors.delete('id');

            console.log(author.success);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            author = client.authors.delete(
                "id",
            )
            print(author.success)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            author = moderation_api.authors.delete("id")

            puts(author)
  /queue/{id}:
    get:
      operationId: queueView-openGetQueue
      summary: Get a queue
      description: Get a queue
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The queue ID
            type: string
          required: true
          description: The queue ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  queue:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      filter:
                        type: object
                        properties:
                          conversationIds:
                            type: array
                            items:
                              anyOf:
                                - type: string
                                - type: 'null'
                          filterLabels:
                            type: array
                            items:
                              type: object
                              properties:
                                label:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                    - FLAGGED
                                    - NOT_FLAGGED
                                    - THRESHOLDS
                                minThreshold:
                                  anyOf:
                                    - type: number
                                      minimum: 0
                                      maximum: 100
                                    - type: 'null'
                                maxThreshold:
                                  anyOf:
                                    - type: number
                                      minimum: 0
                                      maximum: 100
                                    - type: 'null'
                              required:
                                - label
                                - type
                              additionalProperties: false
                          labels:
                            type: array
                            items:
                              type: string
                          afterDate:
                            type: string
                          beforeDate:
                            type: string
                          showChecked:
                            type: boolean
                          authorID:
                            type: string
                          filteredActionIds:
                            type: array
                            items:
                              type: string
                          filteredChannelIds:
                            type: array
                            items:
                              type: string
                          recommendationActions:
                            type: array
                            items:
                              type: string
                              enum:
                                - review
                                - allow
                                - reject
                        additionalProperties: false
                      unresolvedItemsCount:
                        type: number
                      resolvedItemsCount:
                        type: number
                      totalItemsCount:
                        type: number
                    required:
                      - id
                      - name
                      - description
                      - filter
                      - unresolvedItemsCount
                      - resolvedItemsCount
                      - totalItemsCount
                    additionalProperties: false
                required:
                  - queue
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const queue = await client.queue.retrieve('id');

            console.log(queue.queue);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            queue = client.queue.retrieve(
                "id",
            )
            print(queue.queue)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            queue = moderation_api.queue.retrieve("id")

            puts(queue)
  /queue/{id}/stats:
    get:
      operationId: queueView-openGetStats
      summary: Get queue statistics
      description: Get detailed statistics about a moderation queue including review times, action counts, and trends
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The queue ID
            type: string
          required: true
          description: The queue ID
        - in: query
          name: withinDays
          schema:
            description: Number of days to analyze statistics for
            default: '30'
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewStats:
                    type: object
                    properties:
                      averageTimeToReview:
                        description: Average time in milliseconds to review an item
                        type: number
                      totalReviewed:
                        description: Total number of items reviewed
                        type: number
                      totalPending:
                        description: Total number of items pending review
                        type: number
                    required:
                      - averageTimeToReview
                      - totalReviewed
                      - totalPending
                    additionalProperties: false
                  actionStats:
                    type: array
                    items:
                      type: object
                      properties:
                        actionId:
                          description: ID of the moderation action
                          type: string
                        actionName:
                          description: Name of the moderation action
                          type: string
                        count:
                          description: Number of times this action was taken
                          type: number
                        percentageOfTotal:
                          description: Percentage this action represents of all actions
                          type: number
                      required:
                        - actionId
                        - actionName
                        - count
                        - percentageOfTotal
                      additionalProperties: false
                  topReviewers:
                    description: List of top reviewers and their statistics
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          description: ID of the reviewer
                          type: string
                        name:
                          description: Name of the reviewer
                          type: string
                        reviewCount:
                          description: Number of items reviewed
                          type: number
                        averageTimePerReview:
                          description: Average review time in milliseconds
                          type: number
                        accuracyScore:
                          description: Optional accuracy score based on review quality metrics
                          type: number
                        topActions:
                          description: Most common actions taken by this reviewer
                          type: array
                          items:
                            type: object
                            properties:
                              actionId:
                                description: Most used action by this reviewer
                                type: string
                              actionName:
                                description: Name of the most used action
                                type: string
                              count:
                                description: Number of times this action was used
                                type: number
                            required:
                              - actionId
                              - actionName
                              - count
                            additionalProperties: false
                      required:
                        - userId
                        - name
                        - reviewCount
                        - averageTimePerReview
                        - topActions
                      additionalProperties: false
                  trends:
                    type: object
                    properties:
                      dailyReviewCounts:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              description: Date in YYYY-MM-DD format
                              type: string
                            count:
                              description: Number of reviews on this date
                              type: number
                          required:
                            - date
                            - count
                          additionalProperties: false
                      flaggedContentTrends:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              description: Content flag/label
                              type: string
                            trend:
                              description: >-
                                Trend indicator (-1 to 1) showing if this type of flagged content is
                                increasing or decreasing
                              type: number
                          required:
                            - label
                            - trend
                          additionalProperties: false
                    required:
                      - dailyReviewCounts
                      - flaggedContentTrends
                    additionalProperties: false
                required:
                  - reviewStats
                  - actionStats
                  - topReviewers
                  - trends
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const response = await client.queue.getStats('id');

            console.log(response.actionStats);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.get_stats(
                id="id",
            )
            print(response.action_stats)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            response = moderation_api.queue.get_stats("id")

            puts(response)
  /queue/{id}/items:
    get:
      operationId: queueView-openGetItems
      summary: Get queue items
      description: Get paginated list of items in a moderation queue with filtering options
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The queue ID
            type: string
          required: true
          description: The queue ID
        - in: query
          name: pageSize
          schema:
            description: Number of items per page
            default: 20
            type: number
        - in: query
          name: pageNumber
          schema:
            description: Page number to fetch
            default: 1
            type: number
        - in: query
          name: sortField
          schema:
            type: string
            enum:
              - createdAt
              - severity
              - reviewedAt
        - in: query
          name: sortDirection
          schema:
            description: Sort direction
            default: desc
            type: string
            enum:
              - asc
              - desc
        - in: query
          name: conversationIds
          schema:
            type: string
        - in: query
          name: labels
          schema:
            type: string
        - in: query
          name: afterDate
          schema:
            type: string
        - in: query
          name: beforeDate
          schema:
            type: string
        - in: query
          name: includeResolved
          schema:
            type: string
        - in: query
          name: authorId
          schema:
            type: string
        - in: query
          name: filteredActionIds
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Content ID
                          type: string
                        content:
                          description: The content to be moderated
                          type: string
                        language:
                          description: Content language
                          type: string
                        labels:
                          type: array
                          items:
                            type: object
                            properties:
                              label:
                                description: Label name
                                type: string
                              score:
                                description: Confidence score of the label
                                type: number
                              flagged:
                                description: Whether this label caused a flag
                                type: boolean
                            required:
                              - label
                              - score
                              - flagged
                            additionalProperties: false
                        conversationId:
                          description: Conversation ID
                          type: string
                        authorId:
                          description: Author ID
                          type: string
                        actions:
                          description: Action IDs taken on this item
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                description: Action ID
                                type: string
                              name:
                                description: Action name
                                type: string
                              comment:
                                description: Action comment
                                type: string
                              timestamp:
                                description: Unix timestamp of when the action was taken
                                type: number
                              reviewer:
                                description: Moderator userID
                                type: string
                            required:
                              - id
                              - name
                              - timestamp
                            additionalProperties: false
                        flagged:
                          description: Whether the item is flagged by any label
                          type: boolean
                        status:
                          description: Status of the item
                          type: string
                          enum:
                            - pending
                            - resolved
                        timestamp:
                          description: Unix timestamp of when the item was created
                          type: number
                        contentType:
                          description: Type of the content object
                          type: string
                      required:
                        - id
                        - content
                        - labels
                        - flagged
                        - status
                        - timestamp
                      additionalProperties: false
                  pagination:
                    type: object
                    properties:
                      totalItems:
                        type: number
                      totalPages:
                        type: number
                      currentPage:
                        type: number
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                    required:
                      - totalItems
                      - totalPages
                      - currentPage
                      - hasNextPage
                      - hasPreviousPage
                    additionalProperties: false
                required:
                  - items
                  - pagination
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const items = await client.queue.items.list('id');

            console.log(items.items);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            items = client.queue.items.list(
                id="id",
            )
            print(items.items)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            items = moderation_api.queue.items.list("id")

            puts(items)
  /queue/{id}/items/{itemId}/resolve:
    post:
      operationId: queueView-openResolveItem
      summary: Resolve a queue item
      description: Mark a queue item as resolved with a specific moderation action
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The queue ID
            type: string
          required: true
          description: The queue ID
        - in: path
          name: itemId
          schema:
            description: The item ID to resolve
            type: string
          required: true
          description: The item ID to resolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  description: Optional comment
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  resolvedAt:
                    description: Timestamp when the item was resolved
                    type: string
                  comment:
                    description: Optional comment
                    type: string
                required:
                  - success
                  - resolvedAt
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const response = await client.queue.items.resolve('itemId', { id: 'id' });

            console.log(response.resolvedAt);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.items.resolve(
                item_id="itemId",
                id="id",
            )
            print(response.resolved_at)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            response = moderation_api.queue.items.resolve("itemId", id: "id")

            puts(response)
  /queue/{id}/items/{itemId}/unresolve:
    post:
      operationId: queueView-openUnresolveItem
      summary: Unresolve a queue item
      description: Mark a previously resolved queue item as unresolved/pending
      tags:
        - review-queues
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The queue ID
            type: string
          required: true
          description: The queue ID
        - in: path
          name: itemId
          schema:
            description: The item ID to unresolve
            type: string
          required: true
          description: The item ID to unresolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  description: Optional reason for unresolving the item
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    description: New status of the item
                    type: string
                  unresolvedAt:
                    description: Timestamp when the item was unresolved
                    type: string
                required:
                  - success
                  - status
                  - unresolvedAt
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const response = await client.queue.items.unresolve('itemId', { id: 'id' });

            console.log(response.status);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            response = client.queue.items.unresolve(
                item_id="itemId",
                id="id",
            )
            print(response.status)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            response = moderation_api.queue.items.unresolve("itemId", id: "id")

            puts(response)
  /actions:
    get:
      operationId: actions-list
      summary: List moderation actions
      description: List all available moderation actions for the authenticated organization.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: query
          name: queueId
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                description: List of moderation actions with their associated webhooks
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: The ID of the action.
                      type: string
                    key:
                      description: User defined key of the action.
                      anyOf:
                        - type: string
                        - type: 'null'
                    createdAt:
                      description: The date the action was created.
                      type: string
                    name:
                      description: The name of the action.
                      type: string
                    description:
                      description: The description of the action.
                      anyOf:
                        - type: string
                        - type: 'null'
                    type:
                      description: The type of the action.
                      anyOf:
                        - type: string
                          enum:
                            - AUTHOR_BLOCK
                            - AUTHOR_BLOCK_TEMP
                            - AUTHOR_UNBLOCK
                            - AUTHOR_DELETE
                            - AUTHOR_REPORT
                            - AUTHOR_WARN
                            - AUTHOR_CUSTOM
                            - ITEM_REJECT
                            - ITEM_ALLOW
                            - ITEM_CUSTOM
                        - type: 'null'
                    builtIn:
                      description: Whether the action is a built-in action or a custom one.
                      default: false
                      anyOf:
                        - type: boolean
                        - type: 'null'
                    queueBehaviour:
                      description: >-
                        Whether the action resolves and removes the item, unresolves and re-add it to the
                        queue, or does not change the resolve status.
                      default: NO_CHANGE
                      type: string
                      enum:
                        - REMOVE
                        - ADD
                        - NO_CHANGE
                    filterInQueueIds:
                      description: The IDs of the queues the action is available in.
                      default: []
                      type: array
                      items:
                        type: string
                    position:
                      description: Show the action in all queues, selected queues or no queues (to use via API only).
                      default: ALL_QUEUES
                      type: string
                      enum:
                        - ALL_QUEUES
                        - SOME_QUEUES
                        - HIDDEN
                    possibleValues:
                      description: >-
                        The possible values of the action. The user will be prompted to select one of these
                        values when executing the action.
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          value:
                            description: The value of the action.
                            type: string
                        required:
                          - value
                        additionalProperties: false
                    valueRequired:
                      description: Whether the action requires a value to be executed.
                      default: false
                      type: boolean
                    freeText:
                      description: >-
                        Whether the action allows any text to be entered as a value or if it must be one of
                        the possible values.
                      default: false
                      type: boolean
                    webhooks:
                      description: The action's webhooks.
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            description: The webhook's name, used to identify it in the dashboard
                            type: string
                          description:
                            description: The webhook's description
                            anyOf:
                              - type: string
                              - type: 'null'
                          url:
                            description: The webhook's URL. We'll call this URL when the event occurs.
                            type: string
                            format: uri
                          moderationActionId:
                            description: >-
                              The ID of the moderation action to trigger the webhook on. Only used for
                              moderation action webhooks.
                            anyOf:
                              - type: string
                              - type: 'null'
                          id:
                            description: The ID of the webhook.
                            type: string
                        required:
                          - name
                          - url
                          - id
                        additionalProperties: false
                  required:
                    - id
                    - createdAt
                    - name
                    - builtIn
                    - queueBehaviour
                    - filterInQueueIds
                    - position
                    - possibleValues
                    - valueRequired
                    - freeText
                    - webhooks
                  additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const actions = await client.actions.list();

            console.log(actions);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            actions = client.actions.list()
            print(actions)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            actions = moderation_api.actions.list

            puts(actions)
    post:
      operationId: actions-create
      summary: Create an action
      description: Create an action.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: User defined key of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                name:
                  description: The name of the action.
                  type: string
                description:
                  description: The description of the action.
                  anyOf:
                    - type: string
                    - type: 'null'
                type:
                  description: The type of the action.
                  anyOf:
                    - type: string
                      enum:
                        - AUTHOR_BLOCK
                        - AUTHOR_BLOCK_TEMP
                        - AUTHOR_UNBLOCK
                        - AUTHOR_DELETE
                        - AUTHOR_REPORT
                        - AUTHOR_WARN
                        - AUTHOR_CUSTOM
                        - ITEM_REJECT
                        - ITEM_ALLOW
                        - ITEM_CUSTOM
                    - type: 'null'
                builtIn:
                  description: Whether the action is a built-in action or a custom one.
                  default: false
                  anyOf:
                    - type: boolean
                    - type: 'null'
                queueBehaviour:
                  description: >-
                    Whether the action resolves and removes the item, unresolves and re-add it to the queue,
                    or does not change the resolve status.
                  default: NO_CHANGE
                  type: string
                  enum:
                    - REMOVE
                    - ADD
                    - NO_CHANGE
                filterInQueueIds:
                  description: The IDs of the queues the action is available in.
                  default: []
                  type: array
                  items:
                    type: string
                position:
                  description: Show the action in all queues, selected queues or no queues (to use via API only).
                  default: ALL_QUEUES
                  type: string
                  enum:
                    - ALL_QUEUES
                    - SOME_QUEUES
                    - HIDDEN
                possibleValues:
                  description: >-
                    The possible values of the action. The user will be prompted to select one of these values
                    when executing the action.
                  default: []
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        description: The value of the action.
                        type: string
                    required:
                      - value
                valueRequired:
                  description: Whether the action requires a value to be executed.
                  default: false
                  type: boolean
                freeText:
                  description: >-
                    Whether the action allows any text to be entered as a value or if it must be one of the
                    possible values.
                  default: false
                  type: boolean
                webhooks:
                  description: The action's webhooks.
                  default: []
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        description: The webhook's name, used to identify it in the dashboard
                        type: string
                      description:
                        description: The webhook's description
                        anyOf:
                          - type: string
                          - type: 'null'
                      url:
                        description: The webhook's URL. We'll call this URL when the event occurs.
                        type: string
                        format: uri
                      id:
                        description: ID of an existing webhook or undefined if this is a new webhook.
                        type: string
                    required:
                      - name
                      - url
              required:
                - name
      responses:
        '200':
          description: Action created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The ID of the action.
                    type: string
                  key:
                    description: User defined key of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: The date the action was created.
                    type: string
                  name:
                    description: The name of the action.
                    type: string
                  description:
                    description: The description of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  type:
                    description: The type of the action.
                    anyOf:
                      - type: string
                        enum:
                          - AUTHOR_BLOCK
                          - AUTHOR_BLOCK_TEMP
                          - AUTHOR_UNBLOCK
                          - AUTHOR_DELETE
                          - AUTHOR_REPORT
                          - AUTHOR_WARN
                          - AUTHOR_CUSTOM
                          - ITEM_REJECT
                          - ITEM_ALLOW
                          - ITEM_CUSTOM
                      - type: 'null'
                  builtIn:
                    description: Whether the action is a built-in action or a custom one.
                    default: false
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  queueBehaviour:
                    description: >-
                      Whether the action resolves and removes the item, unresolves and re-add it to the queue,
                      or does not change the resolve status.
                    default: NO_CHANGE
                    type: string
                    enum:
                      - REMOVE
                      - ADD
                      - NO_CHANGE
                  filterInQueueIds:
                    description: The IDs of the queues the action is available in.
                    default: []
                    type: array
                    items:
                      type: string
                  position:
                    description: Show the action in all queues, selected queues or no queues (to use via API only).
                    default: ALL_QUEUES
                    type: string
                    enum:
                      - ALL_QUEUES
                      - SOME_QUEUES
                      - HIDDEN
                  possibleValues:
                    description: >-
                      The possible values of the action. The user will be prompted to select one of these
                      values when executing the action.
                    default: []
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          description: The value of the action.
                          type: string
                      required:
                        - value
                      additionalProperties: false
                  valueRequired:
                    description: Whether the action requires a value to be executed.
                    default: false
                    type: boolean
                  freeText:
                    description: >-
                      Whether the action allows any text to be entered as a value or if it must be one of the
                      possible values.
                    default: false
                    type: boolean
                required:
                  - id
                  - createdAt
                  - name
                  - builtIn
                  - queueBehaviour
                  - filterInQueueIds
                  - position
                  - possibleValues
                  - valueRequired
                  - freeText
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '409':
          description: Action with this key already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.CONFLICT'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ModerationAPI from '@moderation-api/sdk';

            const client = new ModerationAPI({
              secretKey: process.env['MODAPI_SECRET_KEY'], // This is the default and can be omitted
            });

            const action = await client.actions.create({ name: 'name' });

            console.log(action.id);
        - lang: Python
          source: |-
            import os
            from moderation_api import ModerationAPI

            client = ModerationAPI(
                secret_key=os.environ.get("MODAPI_SECRET_KEY"),  # This is the default and can be omitted
            )
            action = client.actions.create(
                name="name",
            )
            print(action.id)
        - lang: Ruby
          source: |-
            require "moderation_api"

            moderation_api = ModerationAPI::Client.new(secret_key: "My Secret Key")

            action = moderation_api.actions.create(name: "name")

            puts(action)
  /actions/{id}:
    get:
      operationId: actions-get
      summary: Get an action
      description: Get an action by ID.
      tags:
        - Actions
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            description: The ID of the action to get.
            type: string
          required: true
          description: The ID of the action to get.
      responses:
        '200':
          description: Action retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The ID of the action.
                    type: string
                  key:
                    description: User defined key of the action.
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: The date the action was created.
                    type: string
                  name:
                    description: The name of the action.
                    type: string
[...]
