#sidebar {
  border-right: 1px solid rgb(var(--gray-200) / 0.5);
}

.dark #sidebar {
  border-right: 1px solid rgb(255 255 255/0.07);
}

#sidebar-content,
#sidebar > ul {
  background: transparent;
}
